
.nav_list
    display: flex
    flex-wrap: wrap
    align-items: center
    list-style: none
    justify-content: space-around
    background-color: #1D1D1D
    border-radius: 10px
    min-height: 2rem
    &-item
        text-decoration: none
        color: #fff
        font-style: normal
        font-family: 'Lato', sans-serif
        font-weight: 400
        font-size: 20px
        line-height: 30px
    &-item:hover
        transition: .3s opacity ease
        opacity: 0.8
        color: #B6E4DB
