.footer
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    justify-content: space-evenly
    max-height: 170px
    background: linear-gradient(40deg, rgba(92,164,20,0.9612219887955182) 16%, rgba(33,156,150,1) 94%)
    border-radius: 20px
    margin: 10px
    &_link
        text-decoration: none
        color: #000
        font-style: normal
        font-family: "Lato", sans-serif
        font-weight: 400
        font-size: 20px
        line-height: 30px
    &_link:hover
        transition: .3s opacity ease
        opacity: 0.8
        color: #fff

.contacts
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    justify-content: space-evenly
    justify-content: center
    color: #fff
    gap: 30px
    list-style-type: none
    color: #000

.logo
    width: 55px
    height: 55px
