.layaut
    display: flex
    flex-direction: column
    height: 98vh
    max-width: 1440px
    margin: 0 auto

.main
    display: flex
    flex: 1
    align-items: center
    justify-content: center
    background-color: #E0F1D9
    border-radius: 20px
