
.btn_click
    background-color: #6765ca
    font-family: 'Lato'
    font-style: normal
    font-weight: 600
    font-size: 20px
    line-height: 1.3rem
    color: #000
    height: 60px
    width: 600px
    border-radius: 20px
    &_click:hover
        background-color: #09d6ad
        transition: 0.5s
        cursor: pointer

.card_visible
    text-align: center
    background-color: #E0F1D9
    font-family: 'Lato'
    font-style: normal
    font-weight: 500
    font-size: 18px
    line-height: 1.3rem
    color: #000000
    max-height: 300px
    width: 600px
    border-radius: 20px

strong
    margin-left: 10px

.text
    margin: 0.5rem
